* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg: rgb(224, 224, 224);
  --scnd-bg: rgb(255, 255, 255);
  --thrd-bg: rgb(0, 204, 255);
  --padding: 50px;
  --border-raduis: 10px;
}


html,body {
  height: 100%;
  width: 100%;
    display: flex;
  flex-direction: column;

   background-color: var(--main-bg);

}

main {
  height: 100%;
  width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
  background-color: var(--scnd-bg);
  height: 100px;
  width: 100%;
 
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  padding: var(--padding);
  font-size: 1rem;
}
#links {
  padding: var(--padding);
  display: flex;
  gap: 10px;
}

.link {
  background-color: var(--thrd-bg);
  padding: 10px;
  border-radius: 5px;
}

#articles {
  margin-top: 100px;
}

#house-container,
#appartement-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: var(--padding);
}

article {
  width: calc(100vw / 3);
  height: 500px;
  background-color: var(--scnd-bg);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

  position: relative;
  display: flex;
  flex-direction: column;
}

article header {
  height: 80%;
  width: 100%;
  position: relative;
}

article header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
article header .type {
  background-color: var(--thrd-bg);
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 5px;
}

article div {
  display: flex;
  justify-content: space-between;
}




footer {

  width: 100%;
  background-color: var(--scnd-bg);
  padding: 20px;
  text-align: center;
}

/**********************LOGIN ***********************/

.auth-page{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-container{
  height: 350px;
  width: 400px;

  
 background-color: var(--scnd-bg);
border-radius: var(--border-raduis);

  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 10px;
}
.auth-container h2{
  padding-top: 20px;
  padding-bottom: 80px;
}

form{
  height: 100%;
   display: flex;
  flex-direction: column;
    justify-content: space-around;
 
  
  
 width: 100%;
}

form label{
 
}
form input {
  width: 80%;
  height: 20px;
  border-radius: 3px; 
  border: 2px solid var(--main-bg); 
}

form button {
    padding: 10px 20px;
    background-color:var(--main-bg);
    
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
    background-color: var(--thrd-bg);
    transform: scale(1.05);
}

.error{
    color: red;           
    font-size: 0.9em;     
    margin-top: 5px;      
    display: block;       
}